<a href="https://colab.research.google.com/github/aggarwal-aditya/AI-ML/blob/main/carDataAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

In [7]:
df=pd.read_csv("USA_cars_datasets.csv")

In [20]:
df['mileage']

0       274117.0
1       190552.0
2        39590.0
3        64146.0
4         6654.0
          ...
2494     23609.0
2495     34553.0
2496     31594.0
2497     32557.0
2498     31371.0
Name: mileage, Length: 2499, dtype: float64

In [21]:
df.isnull()

      Unnamed: 0  price  brand  model  ...    lot  state  country  condition
0          False  False  False  False  ...  False  False    False      False
1          False  False  False  False  ...  False  False    False      False
2          False  False  False  False  ...  False  False    False      False
3          False  False  False  False  ...  False  False    False      False
4          False  False  False  False  ...  False  False    False      False
...          ...    ...    ...    ...  ...    ...    ...      ...        ...
2494       False  False  False  False  ...  False  False    False      False
2495       False  False  False  False  ...  False  False    False      False
2496       False  False  False  False  ...  False  False    False      False
2497       False  False  False  False  ...  False  False    False      False
2498       False  False  False  False  ...  False  False    False      False

[2499 rows x 13 columns]

In [23]:
df.isnull().sum()

Unnamed: 0      0
price           0
brand           0
model           0
year            0
title_status    0
mileage         0
color           0
vin             0
lot             0
state           0
country         0
condition       0
dtype: int64

In [28]:
df['brand']

0          toyota
1            ford
2           dodge
3            ford
4       chevrolet
          ...
2494       nissan
2495       nissan
2496       nissan
2497       nissan
2498       nissan
Name: brand, Length: 2499, dtype: object

In [14]:
(df['brand'].unique())

array(['toyota', 'ford', 'dodge', 'chevrolet', 'gmc', 'chrysler', 'kia',
       'buick', 'infiniti', 'mercedes-benz', 'jeep', 'bmw', 'cadillac',
       'hyundai', 'mazda', 'honda', 'heartland', 'jaguar', 'acura',
       'harley-davidson', 'audi', 'lincoln', 'lexus', 'nissan', 'land',
       'maserati', 'peterbilt', 'ram'], dtype=object)

In [18]:
len(df['model'].unique())

127

In [20]:
(df['year'].unique())

array([2008, 2011, 2018, 2014, 2010, 2017, 2009, 2013, 2015, 2020, 2016,
       1973, 2003, 2019, 2002, 2000, 2001, 2005, 2012, 2006, 2007, 1998,
       2004, 1994, 1997, 1996, 1999, 1984, 1995, 1993])

In [22]:
df.head()

   Unnamed: 0  price      brand  ...       state  country      condition
0           0   6300     toyota  ...  new jersey      usa   10 days left
1           1   2899       ford  ...   tennessee      usa    6 days left
2           2   5350      dodge  ...     georgia      usa    2 days left
3           3  25000       ford  ...    virginia      usa  22 hours left
4           4  27700  chevrolet  ...     florida      usa  22 hours left

[5 rows x 13 columns]

In [24]:
len(df['state'].unique())

44

In [25]:
df['country']

0        usa
1        usa
2        usa
3        usa
4        usa
        ...
2494     usa
2495     usa
2496     usa
2497     usa
2498     usa
Name: country, Length: 2499, dtype: object

In [26]:
df['country'].unique()

array([' usa', ' canada'], dtype=object)

In [27]:
df['price'].sum()

46900411

In [30]:
df['price'].sum()//len(df['price'])

18767

In [31]:
df['mileage'].sum()//len(df['price'])

52298.0

In [32]:
df

      Unnamed: 0  price      brand  ...       state  country      condition
0              0   6300     toyota  ...  new jersey      usa   10 days left
1              1   2899       ford  ...   tennessee      usa    6 days left
2              2   5350      dodge  ...     georgia      usa    2 days left
3              3  25000       ford  ...    virginia      usa  22 hours left
4              4  27700  chevrolet  ...     florida      usa  22 hours left
...          ...    ...        ...  ...         ...      ...            ...
2494        2494   7800     nissan  ...  california      usa    1 days left
2495        2495   9200     nissan  ...     florida      usa  21 hours left
2496        2496   9200     nissan  ...     florida      usa  21 hours left
2497        2497   9200     nissan  ...     florida      usa    2 days left
2498        2498   9200     nissan  ...     florida      usa  21 hours left

[2499 rows x 13 columns]

In [33]:
del df['condition']

In [34]:
del df['Unnamed: 0']

In [35]:
df

      price      brand    model  ...        lot       state  country
0      6300     toyota  cruiser  ...  159348797  new jersey      usa
1      2899       ford       se  ...  166951262   tennessee      usa
2      5350      dodge      mpv  ...  167655728     georgia      usa
3     25000       ford     door  ...  167753855    virginia      usa
4     27700  chevrolet     1500  ...  167763266     florida      usa
...     ...        ...      ...  ...        ...         ...      ...
2494   7800     nissan    versa  ...  167722715  california      usa
2495   9200     nissan    versa  ...  167762225     florida      usa
2496   9200     nissan    versa  ...  167762226     florida      usa
2497   9200     nissan    versa  ...  167762227     florida      usa
2498   9200     nissan    versa  ...  167762228     florida      usa

[2499 rows x 11 columns]

In [36]:
del df['lot'];
del df['vin'];

In [37]:
df.head()

   price      brand    model  year  ...   mileage   color       state country
0   6300     toyota  cruiser  2008  ...  274117.0   black  new jersey     usa
1   2899       ford       se  2011  ...  190552.0  silver   tennessee     usa
2   5350      dodge      mpv  2018  ...   39590.0  silver     georgia     usa
3  25000       ford     door  2014  ...   64146.0    blue    virginia     usa
4  27700  chevrolet     1500  2018  ...    6654.0     red     florida     usa

[5 rows x 9 columns]